<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Login</title>
		<link rel="stylesheet" href="../stylesheets/style.css" />
	</head>
	<body class="bg-gray-100 h-screen flex items-center justify-center">
		<form
			action="/users/login"
			method="post"
			class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-1/3"
		>
			<h1 class="text-2xl font-bold text-center mb-4">Login</h1>
			<% if (flash && flash.error) { %> <%
			flash.error.forEach(function(error) { %>
			<div
				class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4"
				role="alert"
			>
				<strong class="font-bold">Error:</strong>
				<span class="block sm:inline"><%= error %></span>
			</div>
			<% }); %> <% } %>
			<div class="mb-4">
				<label
					class="block text-gray-700 text-sm font-bold mb-2"
					for="username"
				>
					Username
				</label>
				<input
					class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
					id="username"
					type="text"
					placeholder="Username"
					name="username"
					maxlength="32"
					required
				/>
			</div>
			<div class="mb-4">
				<label
					class="block text-gray-700 text-sm font-bold mb-2"
					for="password"
				>
					Password
				</label>
				<input
					class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
					id="password"
					type="password"
					placeholder="Password"
					name="password"
					maxlength="32"
					required
				/>
			</div>
			<div class="mb-4">
				<label
					class="block text-gray-700 text-sm font-bold mb-2"
					for="code"
				>
					2FA Code (leave empty if you have not set it up yet)
				</label>
				<input
					class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
					id="code"
					type="text"
					placeholder="2FA Code"
					name="code"
					maxlength="6"
				/>
			</div>
			<div class="flex items-center justify-between">
				<button
					class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
					type="submit"
				>
					Login
				</button>
			</div>
		</form>
	</body>
</html>
