nav {
  top: 0;
  position: sticky;
}

#content {
  min-height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.badge {
  display: none;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #f00;
  border-radius: 10px;
}
