<div class="fixed left-0 top-0 bottom-0 bg-gray-900 w-48 py-4">
    <div class="text-white text-2xl font-semibold px-4">CODEX</div>
    <div class="text-white text-sm font-semibold px-4 py-2">Admin Dashboard</div>
    <div class="text-white text-sm font-semibold px-4 py-2">
        <div class="text-white text-sm font-semibold px-4 py-2">
            <a href="/admin/dashboard/all-users" class="block">All Users</a>
        </div>
        <div class="text-white text-sm font-semibold px-4 py-2">
            <a href="/admin/dashboard/pending-applications" class="block">Pending Vendor Applications</a>
        </div>
        <div class="text-white text-sm font-semibold px-4 py-2">
            <a href="/admin/dashboard/all-applications" class="block">All Vendor Applications</a>
        </div>
        <div class="text-white text-sm font-semibold px-4 py-2">
        <a href="/admin/dashboard/manage-vendor-settings" class="block">Manage Vendor Settings</a>
        </div>
        <div class="text-white text-sm font-semibold px-4 py-2">
            <a href="/admin/dashboard/manage-categories" class="block">Categories and Subcategories</a>
        </div>
    </div>
</div>
